.card {
    background-color: rgb(249, 249, 249);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.product-card {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 450px;
    width: 20vw;
}

.product-card-img {
    height: 24vh;
    width: 100%;
}

.category-card {
    height: 250px;
    width: 18vw;
    text-align: center;
}

.see-all-card {
    height: 565px;
    width: 18vw;
    text-align: center;
}

.card-grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 290px 100px 100px 100px 100px;
    grid-gap: 2vh 4%;
}

.card-grid-2x2::after {
  content: "";
  display: table;
  clear: both;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.5vw
}

.card-grid::after {
  display: table;
  clear: both;
}

.card-grid-container {
    display: flex;
    justify-content: center;
}

.card-cat-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-cat-name {
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 15px;
}

.card-see-all-img {
    width: 100%;
    height: 517px;
}

.product-card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-card-sizes {
    font-weight: 300;
    color: grey;
    font-size: 15px;
}

.product-card-txt {
    margin: 25px;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    color: black;
}