.navbar-c-main {
    background-color: #0e1b2e;
    margin: 0;
    height: 40px;
    padding: 15px;
}

.inline-sep {
    display: flex;
    justify-content: space-between;
}

.inline {
    display: flex;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-logo {
    height: 35px;
    margin-left: 40px;
}

.searchbar {
    border-radius: 15px 0 0 15px;
    width: 35vw;
    height: 40px;
    background-color: #f5f2f2;
    border: 0;
    padding: 0 0 0 25px;
    font-weight: 300;
    letter-spacing: 2px;
    color: grey;
}

.searchbar:focus {
    outline: none !important;
    color: grey;
}

.searchbar-btn {
    border-radius: 0 15px 15px 0;
    height: 40px;
    background-color: #f5f2f2;
    border: 0;
    padding: 0 0 0 15px;
    border-color: transparent;
    padding-right: 20px;
    background-color: rgb(41, 165, 226);
}

.searchbar-btn:hover {
    cursor: pointer;
    background-color: rgb(9, 149, 220);
}

.icon-container {
    width: 150px;
    margin: 5px 40px 0 0;
}

.navbar-icons {
    color: #29a5e2;
}

.icon-user:hover {
    color: rgb(31, 128, 176);
}

.icon-fav:hover {
    color: red;
}

.icon-cart:hover {
    color: green;
}

.icon-cart:hover {
    cursor: pointer;
}

.cart-popup {
    width: 450px;
    height: 342px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: solid #1f96d1;
    position: absolute;
    margin: 50px auto 0 auto;
    right: 2vw;
}

.cart-popup-img {
    height: 55px;
    width: 70px;
    border-radius: 15px;
    margin: 0 25px 0 0;
}

.cart-product {
    margin: 15px 0 20px 0;
}

.x1 {
    margin: auto 80px auto 30px;
    text-transform: lowercase;
}

.pay {
    height: 40px;
    width: 100%;
    background-color: green;
    color: white;
    border: solid transparent;
    border-radius: 15px;
    margin: 92px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cart-product-details {
    margin: 0 65px 0 0;
}

.cart-product-name {
    margin: 0 0 20px 20px;
}